.all-transactions-page{
    width: 100%;
    height: 100vh;
    padding-top: 13vh;
    padding-left: 3vw
}
.all-transactions-page h2{
    margin-bottom: 4vh;
    color: rgba(77, 109, 134, 0.934);
}

.transactions-body{
    width: 70%;
    height: 85%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.transactions-body::-webkit-scrollbar {
    display: none;
}

.transaction{

    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(239, 245, 245, 0.477);
    border: 1px solid #97a0b334;
    padding: 1.5vh 2vw;
    border-radius: 0.8rem;
}

.transaction span{
    display: flex;
    justify-content: space-between;
}

.transaction p{
    margin: 0;
    font-size: 0.9rem;
    color: rgb(25, 74, 107);   
}
.transaction span p b{
    font-weight: 600;
    color: rgb(108, 133, 149);   
}

